body {
  background-color: #fff;
  color: #22264b;
}

button, input[type=submit] {
  color: #22264b;
}

form {
  margin-bottom: 0em;
}

form[name="clipForm"] input {
  margin-right: 15px;
}

.error {
  color: red;
  padding: 3px;
}

.create-clip-wrapper {
  margin-bottom: 20px;
}

.clip-list-wrapper {
  position: fixed;
  margin-bottom: 20px;
  width: 280px;
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,1);
}

.clip-wrapper {
  display: table;
  padding: 3px 15px;
  width: 250px;
}

.clip-wrapper:nth-child(odd){
  background-color: #f2efe8;
}

.clip-wrapper:nth-child(even){
  background-color: #c2d4d8;
}

.selected {
  background-color:  #b0aac2 !important;
}

.clip-link {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.clip-controls {
  float: right;
  margin-right: 10px
}

input[type=number] {
  width: 50px;
}

.form-group {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  float: right;
}

.video-player-wrapper {
  margin: 50px auto;
  text-align: center;
  display: block;
}

.video-message {
  font-style: italic;
  text-align: left;
  margin: 100px auto 20px auto;
  width: 140px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}
