body {
  background-color: #e8edf3;
  color: #22264b;
}

button, input[type=submit] {
  color: #22264b;
}

form {
  margin-bottom: 0em;
}

.error {
  color: red;
  padding: 3px;
}

.create-clip-wrapper {
  margin-bottom: 20px;
}

.video-clips-wrapper {
  margin-bottom: 20px;
}

.video-clip-wrapper {
  display: table;
  padding: 3px;
}

.selected {
  background-color: #e6cf8b;
}

.video-clip-link {
  cursor: pointer;
  font-size: 18px;
}

input {
  margin: 0 20px 0 10px;
}

input[type=number] {
  width: 50px;
}

.video-clip-link {
  text-decoration: underline;
}

.video-player-wrapper {
  margin: 50px auto;
  text-align: center;
  display: block;
}

.italic {
  font-style: italic;
}
